*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 40px;
    text-align: center;
}

h1 {
    font-size: 40px;
}

p {
    width: 60%;
    margin: 10px auto;
}
#container {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-bottom: 20px;
    background-color: antiquewhite;
    text-align: center;
}